@import "tailwindcss";



@layer components{
    .btn-primary {
        @apply py-2 px-4 bg-blue-500 rounded-full hover:bg-blue-600 text-white
    }
}

@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito-Light.ttf") format("truetype");
  font-weight: 300;
}